# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines
name = Ares Agourides
email = ares@automata.tech
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	autoSetupRemote = true
[coderabbit]
	machineId = cli/2c3f7fcdc4314e1ba410e4490038d4c5
